@import '../../theme/mixins.scss';
@import '../../theme/variables.scss';


.container{
  max-width: 350px;
  width: 100%;
  color:$white;
  padding: 40px;
}

.logo{
    max-width: 212px;
    width:100%;
    object-fit:cover;
    height: auto;
    // margin-top: 90px;
}
.listContainer{
    margin-top: 40px;
    overflow: auto;
    height:100vh;
}
.title{
    font-size: 20px;
    text-transform: uppercase;
    font-family: $font-Prompt;
    font-weight: 200;
    letter-spacing: $letter-spacing;
    color: $text-gray;
    margin-bottom: 24px;
}
.list{
    list-style-type: none;
}
.listItem{
    @include font-style;
    padding:8px;
    color: $text-gray;
    margin-bottom: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.active{
    color: white;
    background-image: linear-gradient(to right, rgba(45,48,56,0), rgba(45,48,56,1));

}